<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
   
      <a class="navbar-brand" [routerLink]="['/main']" routerLinkActive="router-link-active"  aria-current="page">Inicio</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      

          <!--[routerLink]="['/directivas']: agrega un enlace al componente DirectivaComponent, NOTA, en app.domule hay se agregan las rutas y /directivas tiene asociado un componente
          
          routerLinkActive="router-link-active": se pondra en actvo cuando estemos en esta pagina-->
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/directivas']" routerLinkActive="router-link-active"  aria-current="page">Lista Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/clientes']" routerLinkActive="router-link-active"  aria-current="page">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/secciones']" routerLinkActive="router-link-active"  aria-current="page">Secciones</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/precios']" routerLinkActive="router-link-active"  aria-current="page">Precios</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/productos']" routerLinkActive="router-link-active"  aria-current="page">Productos</a>
          </li>


          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/clientes/clientes']" routerLinkActive="router-link-active"  aria-current="page">Clientes de clientes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/informacion/clientes']" routerLinkActive="router-link-active"  aria-current="page">Informacion de Clientes</a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
       
        </ul>
        

        <button class="btn btn-rounded btn-primary" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</button>
      

        <button class="btn btn-rounded btn-success" [routerLink]="['/crearcuenta']" routerLinkActive="router-link-active" >Crear cuenta</button>
      



      </div>
    </div>
  </nav>