<div class="card border-primary mb-3" >
    <div class="card-header">secciones</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de secciones</h5>

      <div class="my-2 text-left">
        <!-- con  [routerLink]: realizamos nuestras rutas o enlaces , rutas internas de nuestros proyectos -->
       
        <button class="btn btn-rounded btn-primary" [routerLink]="['/seccion/form']" routerLinkActive="router-link-active" >Crear seccion</button>
      
    </div>
   
      <!-- *ngIf="clientes?.length>0": indica que si no tenemos ningun cliente en la tabla no la mostrara-->
      <div *ngIf='seccion!= null && seccion!= undefined  && seccion.length==0 'class="alert alert-info">
        No hay registro 
    </div>

        <table class="table table-bordered table-striped" *ngIf="seccion!= null && seccion!= undefined && seccion.length>0">
            <thead>
                <tr>
                    <th>nseccion </th>
                    <th>edo</th>
                    <th>nombre</th>
                    
                 

                </tr>
            </thead>

<!--clientes es la variable del componente.ts
NOTA: SI LOS DATOS VIENES DE UN SERVIDOR SE TIENE QUE LLAMAR IGUAL QUE LOS ATRIBUTOS DE OBJETO JSON QUE DEVUELVRE

cliente.apellidos | uppercase convertimos los apellido en mayusculas con el |-->
            <tbody>
                <tr *ngFor="let seccion of seccion">
                    <td>{{seccion.nseccion}}</td>
                    <td>{{seccion.edo}}</td>
                    <td>{{seccion.nombre}}</td>
                   
                    <td><button type="button" name="button" class="btn btn-primary" [routerLink]="['/secciones/form', seccion.nseccion]" routerLinkActive="router-link-active" >Editar</button></td>

                    <!--cada vez que se haga clic en el boton eliminar va a invocar al metodo delete(cliente) y  va a pasar el objeto completo cliente, el objeto de la fila actual-->
                    <td><button type="button" name="eliminar" (click)='delete(seccion)' class="btn btn-danger" >Eliminar</button></td>

                </tr>
            </tbody>


        </table>

    </div>
  </div>